<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.menar.milkdoserhmi">

    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="true" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.google.android.things.permission.USE_PERIPHERAL_IO" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/usb_device_filter" />
        <activity android:name="com.menar.milkdoserhmi.manufa"
            android:screenOrientation="landscape"/>
        <activity android:name="com.menar.milkdoserhmi.motor_efficiency"
            android:screenOrientation="landscape"/>
        <activity android:name="com.menar.milkdoserhmi.time_menu"
            android:screenOrientation="landscape"/>
        <activity android:name="com.menar.milkdoserhmi.using_info"
            android:screenOrientation="landscape"/>
        <activity android:name="com.menar.milkdoserhmi.errors"
            android:screenOrientation="landscape"/>
        <activity android:name="com.menar.milkdoserhmi.operator_menu"
            android:screenOrientation="landscape"/>
        <activity android:name="com.menar.milkdoserhmi.cleaning_journal"
            android:screenOrientation="landscape"/>
        <activity android:name="com.menar.milkdoserhmi.conctact_viewer"
            android:screenOrientation="landscape"/>
        <activity android:name="com.menar.milkdoserhmi.machine_info"
            android:screenOrientation="landscape"/>
        <activity android:name="com.menar.milkdoserhmi.brightness_screen"
            android:screenOrientation="landscape"/>
        <activity android:name="com.menar.milkdoserhmi.lang_screen"
            android:screenOrientation="landscape"/>
        <activity android:name="com.menar.milkdoserhmi.poweron_screen"
            android:screenOrientation="landscape"/>
        <activity android:name="com.menar.milkdoserhmi.power_menu"
            android:screenOrientation="landscape"/>
        <activity android:name="com.menar.milkdoserhmi.info"
            android:screenOrientation="landscape"/>
        <activity android:name="com.menar.milkdoserhmi.ota_screen"
            android:screenOrientation="landscape"/>
        <activity android:name="com.menar.milkdoserhmi.counters"
            android:screenOrientation="landscape"/>
        <activity android:name="com.menar.milkdoserhmi.wash"
            android:screenOrientation="landscape"/>
        <activity android:name="com.menar.milkdoserhmi.rinse"
            android:screenOrientation="landscape"/>
        <activity android:name="com.menar.milkdoserhmi.backdraft"
            android:screenOrientation="landscape"/>
        <activity android:name="com.menar.milkdoserhmi.parameters1"
            android:screenOrientation="landscape"/>
        <activity android:name="com.menar.milkdoserhmi.settings"
            android:screenOrientation="landscape"/>
        <activity
            android:name="com.menar.milkdoserhmi.pincode"
            android:screenOrientation="landscape"/>
        <activity
            android:name="com.menar.milkdoserhmi.dosing"
            android:label="Milk Doser"
            android:screenOrientation="landscape"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"/>
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/usb_device_filter" />
        </activity>
        <receiver
            android:name="com.menar.milkdoserhmi.AdminReceiver"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN" >
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.menar.milkdoserhmi.KioskService"
            android:exported="false" />
        <service
            android:name="com.menar.milkdoserhmi.UsbService"
            android:enabled="true"></service>
    </application>

</manifest>